FRDStravaClientDemo/FRDStravaClientDemo.xcodeproj/project.xcworkspace/xcuserdata/sebastienwindal.xcuserdatad/UserInterfaceState.xcuserstate
FRDStravaClientDemo/FRDStravaClientDemo.xcodeproj/xcuserdata/sebastienwindal.xcuserdatad/xcschemes/FRDStravaClientDemo.xcscheme
FRDStravaClientDemo/Pods
FRDStravaClientDocs
UserInterfaceState.xcuserstate
*.xcbkptlist

FRDStravaClientDemo/FRDStravaClientDemo.xcworkspace/xcshareddata/FRDStravaClientDemo.xccheckout

FRDStravaClientDemo/FRDStravaClientDemo.xcworkspace/xcuserdata/sebastienwindal.xcuserdatad/WorkspaceSettings.xcsettings
