FRDStravaClientDemo/FRDStravaClientDemo.xcodeproj/project.xcworkspace/xcuserdata/sebastienwindal.xcuserdatad/UserInterfaceState.xcuserstate
FRDStravaClientDemo/FRDStravaClientDemo.xcodeproj/xcuserdata/sebastienwindal.xcuserdatad/xcschemes/FRDStravaClientDemo.xcscheme
FRDStravaClientDemo/Pods
UserInterfaceState.xcuserstate
*.xcbkptlist
